<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

    <div th:replace="fragments :: page-header"></div>

    <div class="container body-content">
        <p>View jobs by:</p>
        <ul>
            <li th:each="action : ${actions}">
                <!-- goes to search or list, whatever is selected -->
                <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>
            </li>
        </ul>
    </div>

</body>
</html>