<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

    <div th:replace="fragments :: page-header"></div>

    <div class="container body-content">
        <p>View jobs by:</p>
        <ul>
            <!-- ${actions} is from model.addAttribute from HomeController "List" or "Search"
            action = key-value pair -->
            <li th:each="action : ${actions}">
                <!-- redirected to value = "" in ListController or SearchController, whatever the
                user inputed - whether "list" or "search" -->
                <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>

            </li>
        </ul>
    </div>

</body>
</html>